@import "tailwindcss";

:root {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #242424;
}

.error {
  color: red;
  font-size: 16px;
}
.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 10px;
}
.show {
  display: flex;
}
.hide {
  display: none;
}
